.play{
    background-color: #ccc;
    margin-bottom: 0em;
    margin-top: 0.3em;
    padding: 0.1em;
    font-size: 0.9em;
    a{
        cursor: default;
        text-decoration: underline;
    }
}

.ssml{
    border: 1px solid #ccc;
    padding: 0.5em;
    font-family: monospace;

    margin-top: 0em;
}