<mat-toolbar>

  <h1 style="margin-left: 1em;">{{title}}</h1>

  <ng-container *ngIf="authService.isLoggedIn()">
    <ng-container *ngIf="(targets$|async) as targets">
      <div class="target-selector">
        <mat-form-field>
          <mat-select [(value)]="current.targetName" (selectionChange)="updateTarget()">
            <ng-container *ngFor="let target of targets">
              <mat-option [value]="target">{{target}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngIf="(projects$|async) as projects">
      <div class="target-selector">
        <mat-form-field>
          <mat-select [(value)]="current.projectName" (selectionChange)="updateProject()">
            <ng-container *ngFor="let project of projects">
              <mat-option [value]="project">{{project}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>

  <span class="example-fill-remaining-space"></span>

  <div class="login" style="display: flex; align-items: center;" *ngIf="authService.isLoggedIn()">

    <span style="display: flex; align-items: center; margin-right: 0.5em;">
      <mat-icon>person</mat-icon>
      {{authService.getLoggedInUser()}}
    </span>

    <span style="margin-left: 0.5em;"><a (click)="logout()">logout</a></span>

  </div>

  <div class="login" *ngIf="authService.isLoggedOut()"><a [routerLink]="['login']">login</a></div>

</mat-toolbar>



<div id="content">
  <div id="left" class="column">

    <ul class="navigationlinks">
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['']">Home</a>
      </li>

      <ng-container *ngIf="authService.isLoggedIn()">

        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['conversation']">Conversation</a>
        </li>


        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['config']">Config</a>
        </li>



      </ng-container>

    </ul>
  </div>



  <div id="right" class="column">


    <div class="loggedout" *ngIf="!authService.isLoggedIn()">
      You are currently logged out. Please log in.
    </div>



    <router-outlet></router-outlet>
  </div>

</div>