.simulator{
    margin-top: 0.5em;
    margin-left: 2em;
    padding: 0.8em;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    border: 3px solid #333;
    border-radius: 1em;
    background-color: snow;
}
#iframe{
    border: 1px solid #999;
}